BOT_TOKEN=
BOT_WIF=
BOT_FEE_XPUB=
BOT_FEE=1
DATABASE_URL="mysql://usuario:password@host:3306/nombre_db?ssl={\"rejectUnauthorized\":true}"
# 'testnet' o 'bitcoin'
NETWORK=bitcoin
PUBLIC_CHANNEL_ID=""
ADMIN_IDS="id1,id2"
ADMIN_GROUP_ID=